.burger-menu {
  visibility: none;
  display: block;
  justify-content: center;
  margin: 2em;
}

.one {
  position: absolute;
  width: 32px;
  height: 3.5px;
  background-color: gray;
  border-radius: 5px;
}

.two {
  width: 18px;
  margin-top: 10px;
  transition: all 0.5s ease-in-out;
}

.three {
  width: 23px;
  margin-top: 20px;
  transition: all 0.5s ease-in-out;
}

.resize {
  width: 32px;
  margin-top: 10px;
  transition: all 0.5s ease-in-out;
}

.delete {
  width: 0px;
  margin-top: 20px;
  transition: all 0.5s ease-in-out;
}

/* Stilovi za tablet */
@media screen and (min-width: 30em) {
  .burger-menu {
    display: none;
  }
}

/* Stilovi za desktop */
@media screen and (min-width: 64em) {
  .burger-menu {
    display: none;
  }
}

/* Stilovi za pejzaznu orjentaciju */
@media screen and(orientation: landscape) {
  .burger-menu {
    display: none;
  }
}
