/* Stilovi za mobilni */
.btn {
  display: flex;
  justify-content: center;
  margin-top: 1.2em;
}

.moon {
  font-size: 20px;
  margin: 0 10px;
}

.sun {
  font-size: 25px;
  margin-left: -15px;
}

/* Stilovi za tablet */
@media screen and (min-width: 30em) {
  .btn {
    margin-top: 1em;
    padding: 1em;
  }
}

/* Stilovi za desktop */
@media screen and (min-width: 64em) {
}

/* Stilovi za pejzaznu orjentaciju */
@media screen and(orientation: landscape) {
}
