.nav-fragment {
  display: flex;
  align-items: center;
}

.nav {
  width: 100%;
}

.u-list {
  display: flex;
  justify-content: space-between;
  align-content: center;
  gap: 10%;
  margin-left: 25px;
}

li {
  list-style: none;
}

.element {
  list-style: none;
  font-size: 1.1em;
  cursor: pointer;
  text-decoration: none;
  color: #8d8d8d;
  letter-spacing: 1px;
}

.u-list:hover .no-blur {
  filter: blur(5px);
  transition: 0.5s ease-in-out;
}

.u-list .no-blur:hover {
  filter: blur(0);
}

@media screen and (max-width: 600px) {
  .u-list {
    display: block;
    gap: 5%;
  }

  .li {
    margin: 20px 0;
  }
}
