/* Stilovi za mobilni */
.btn {
  display: flex;
  justify-content: center;
  margin-top: 1.1em;
}

.moon {
  font-size: 20px;
  margin: 1px 5px;
}

.sun {
  font-size: 25px;
  margin-left: -18px;
}

/* Stilovi za tablet */
@media screen and (min-width: 30em) {
  .btn {
    margin-top: 1em;
    padding: 1em;
  }
  .moon {
    font-size: 20px;
    margin: 1px 4px;
  }

  .sun {
    font-size: 25px;
    margin-left: -18px;
  }
}

/* Stilovi za desktop */
@media screen and (min-width: 64em) {
}

/* Stilovi za pejzaznu orjentaciju */
@media screen and(orientation: landscape) {
}
