/* Stilovi za mobilni */
.ticket-visual_visual {
  width: 85%;
  padding: 15px;
  border: 1px solid white;
  margin: 60px auto;
  position: relative;
  transition: all 500ms cubic-bezier(0.03, 0.98, 0.53, 0.99) 0s;
  border-style: solid;
  border-width: 3px;
  border-image: linear-gradient(to right, darkblue, darkorchid) 4;
}

.ticket-visual-wrapper {
  width: 100%;
  border-radius: 15px;
  display: block;
}
.nenad-creator {
  width: 100%;
}

.shadow {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.creator-num-one {
  width: 60%;
  border: 2px solid;
  border-radius: 50%;
  margin: 10px 0;
}

.edi-creator {
  width: 100%;
}

.creator-num-two {
  width: 52%;
  border: 2px solid;
  border-radius: 50%;
}

.description {
  letter-spacing: 2px;
  line-height: 0;
  font-weight: 900;
}

.name {
  font-size: 0.9em;
  word-break: break-all;
}

.role {
  font-size: 0.5em;
}

.contact-icons {
  display: flex;
  gap: 2%;
  font-size: 1em;
  justify-content: center;
  margin: 15px 0;
}

/* Stilovi za tablet */
@media screen and (min-width: 30em) {
  .ticket-visual-wrapper {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 5%;
  }

  .name {
    font-size: 0.75em;
  }

  .role {
    font-size: 0.6em;
  }

  .contact-icons {
    font-size: 1em;
  }
}

/* Stilovi za desktop */
@media screen and (min-width: 64em) {
  .name {
    font-size: 1.5em;
  }

  .role {
    font-size: 1em;
  }

  .contact-icons {
    font-size: 1.5em;
  }
}

/* Stilovi za pejzaznu orjentaciju */
@media screen and(orientation: landscape) {
}
