.navbar-wraper {
  display: flex;
  align-content: center;
  justify-content: space-between;
  backdrop-filter: blur(10px);
  position: sticky;
}

.border {
  border-bottom: solid;
  border-image: linear-gradient(to right, darkblue, darkorchid) 2;
  border-width: 4px;
}
