.main-html-wraper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5%;
}

.html-description {
  width: 10%;
  padding: 10px;
  align-items: center;
}

.block {
  margin: 5px 0;
}

.main-description {
  text-align: center;
  margin: 5px 0;
}
